[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
streamlit = "*"
scikit-learn = "*"
altair = "*"

[dev-packages]
jupyterlab = "*"
flake8 = "*"
ipykernel = "*"

[requires]
python_version = "3.8"

[scripts]
get_data = "make getdata"
run_app = "streamlit run main.py"
